fastapi
python-multipart
uvicorn
sqlalchemy
pydantic
python-dotenv
passlib
python-jose
Django
requests
twilio
imageio-ffmpeg
beautifulsoup4
llama-index
llama-index-core
llama-index-llms-langchain
llama-index-embeddings-openai
langchain
langchain-openai
langchain-ollama
langchain-community
langgraph
apscheduler
pytube
pillow
lxml
pytest
psycopg2-binary
youtube_transcript_api
