fastapi
python-multipart
uvicorn
sqlalchemy
pydantic
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
Django
requests
twilio
imageio-ffmpeg
beautifulsoup4
llama-index==0.12.47
llama-index-core==0.12.47
llama-index-llms-langchain==0.6.1
llama-index-embeddings-openai==0.6.1
llama-index-vector-stores-pinecone==0.6.0
pinecone-client
langchain==0.3.25
langchain-openai==0.2.14
langchain-ollama==0.3.3
langchain-community==0.3.24
langgraph==0.4.7
apscheduler
pytube
pillow
lxml
pytest
youtube_transcript_api
razorpay
slowapi
redis
PyMuPDF
python-docx
openai
alembic