fastapi
python-multipart
uvicorn
sqlalchemy
pydantic
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
Django
requests
twilio
imageio-ffmpeg
beautifulsoup4
llama-index
llama-index-core
llama-index-llms-langchain
llama-index-embeddings-openai
langchain
langchain-openai
langchain-ollama
langchain-community
langgraph
apscheduler
pytube
pillow
lxml
pytest
youtube_transcript_api
razorpay
slowapi
redis